apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - secret-gateway.yaml

# Keep the base minimal; overlays will override image names/tags
