apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: eventos-peru
spec:
  selector:
    app: gateway
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
